.btn{
    border: 1px solid white !important;
    border-radius: 5px;
    color: white;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}
.btn-trs{
    background-color: transparent;
}
.btn-blue{
    background-color: #558985;
    border: none !important;
}
.btn-blue:hover{
    background-color: #3b606b;
    color: white;

}
.btn-trs:hover{
    background: white;
    color: #558985;
}
.btn-70{
    width: 70%;
}
.btn-50{
    width: 50%;
}
.btn-20{
    width: 20%;
}
.btn-100{
    width: 100%;
}
.btn-90{
    width: 90%;
}
.btn-h60{
    height: 60px;
}
.btn-h40{
    height: 40px;
}

