.hero-container-tourism{
    height:650px;
    width: 100%;
    margin-top: -60px;
    z-index: -1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: flex;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url(/src/assets/img/T13iran.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
h1{
  color: white;
  word-spacing: 5px;
}
.hero-search{
    background-color:rgba(0, 0, 0, 0.4);
    padding: 40px 25px;
    width: 700px;
    border-radius: 5px;
}
.search-input{
    text-align: center;
    width: 650px;
    border: none;
    padding: 15px 0px;
    box-shadow:1px 5px 15px grey;
}
.fa-search{
    color: white;
    margin: 10px;
    font-size: 20px;
    vertical-align: middle;
}
.search-btn-box{
    text-align: center;
}
/* .intro-in-hero{
    color: white;
    width: 100%;
}
.intro-in-hero .carousel-item img{
margin: auto;
width: 30%!important;
} */
@media (max-width:700px){
    .hero-search{
        padding: 30px 20px;
        width: 100%;
        border-radius: 0px;
    }
    .search-input{
        width: 100%;
    }
    .fa-search{
        font-size: 15px;
        vertical-align: middle;
    }
    .hero-container{
        height: 400px;

    }
}








